
:root {
    --text-color: #000;
    --background-color: #333;
    --color-gold: #bdae82;
    --color-white: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;  
}

a {
    color: var(--text-color);
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

svg {
    fill: var(--color-gold);
}

button:focus{
    outline: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 0.7em;
    font-family: arial;
}

th, td{
    padding: 0.5em 2em;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: var(--color-gold);
    background: var(--background-color);
    font-size: 4vh;
    font-family: Merriweather, arial;
}

.screen {
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}
 
.canvas {
    width: 100%;
    height: 100%; 
    background: #000;
}

.menu {
    display: flex;  
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    *background: #000;
    background: #000 url('./assets/image/bg.jpg') no-repeat;
    *background: url('./assets/image/bg.jpg');
    *background-position: center center;
    *background-position: center 0;
    background-size: contain;
    transition: ease-out 1s;
}

.menu__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.records .menu__content {
    color: #dcd5c7;
}

.last-record {
    color: #72c672;
}

.menu__title {
    text-align: center;
    *font-family: Merriweather
}

.menu__title h1{
    padding-bottom: 0.2em;
}

.records .menu__title span {
    display: none;
}

.menu__content {    
    display: flex;  
    *justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    margin: 0 auto;
    text-align: center;
}

.menu__content > div {
    flex-basis: 6.1em;
}

.btn__border {
    display: inline-block;
    padding: 3px;
    *margin: 3px;
    z-index: 1;
    border-radius: 6px;
}

.button {
    font-size: inherit;
    *font-family: inherit;
    background-color: var(--color-gold);
    padding: 0.5em 3.5em;
    border-radius: 6px;
    cursor: pointer;   
    border: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
}

.github-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    pointer-events: auto;
}

.icon-github{
    width: 1.2em;
    height: 1.2em;
} 

.github-block span{
    font-size: 0.8em;
}

.icon-rss {
    width: 2.5em;
    pointer-events: auto;
} 

.button-pause {
    position: absolute;
    background: inherit;
    font-size: inherit;
    border: none;
    width: 3.5em;
    height: 3.5em;
    padding: 0.8em;
    transition: ease-out 0.1s;
    opacity: 1;
}

.button-pause.hide {
    transition: ease-out 0.4s; 
}

.button-pause__icon {  
    display: block;
    position: relative;
    background-image: url('./assets/svg/pause.svg');
    background-position: center top; 
    background-size: contain;
    background-repeat: no-repeat;  
    width: 100%;
    height: 100%;
    *cursor: pointer;    
}

.hide .button-pause__icon { 
    background-image: url('./assets/svg/play.svg');   
    left: 2px;   
}

.button-mute {
    position: absolute;
    bottom: 0;
    *left: 0;
    right: 0;
    background: inherit;
    font-size: inherit;
    border: none;
    width: 3em;
    height: 3em;
    padding: 0.9em;
    opacity: 1;
}

.button-mute__icon {  
    display: block;
    *position: relative;
    background-image: url('./assets/svg/volume.svg');
    *background-position: center top; 
    background-size: contain;
    background-repeat: no-repeat;  
    width: 100%;
    height: 100%;
    cursor: pointer;    
}

.muted .button-mute__icon{
    background-image: url('./assets/svg/mute.svg');
}

.hide {
    opacity: 0;
    pointer-events: none;
}

@media (max-height: 400px) {
  .body {
      font-size: 18px;
  }
  .button{
      padding: 0.4em 3em;
  }
  .footer__container {
      padding: 0 20px;
  }
  .icon-rss {
      width: 50px;
      height: 52px;
  }
  th, td{
      padding: 3px 15px;
  }
}

