:root {
    --black: #000;
    --white: #FFF;
    --gold: #bdae82;
    --body-color: #000;
    --text-color: #fff;
    --trans: 0.3s ease-out;
}

html {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    font-size: 20px;
    line-height: 2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3 {
    font-family: 'Merriweather', serif;
    margin: 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h4 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: var(--trans);
}

img {
    width: 100%;
}

svg {
    fill: var(--text-color);
    transition: var(--trans);
}

.logo {
    line-height: 0;
}

.logo svg {
    width: 50px;
    height: 50px;
}

a:hover {
    color: var(--gold);
}

a:hover svg, button:hover svg {
    fill: var(--gold);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    overflow-x: hidden;
}

.header .container {
    display: flex;
    align-items: center;
    background: url('./assets/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0px;
    user-select: none;   
}

#hero .container {
    background-image: url('./assets/img/header-bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
    margin: 0 -20px;
    height: 820px;
}

.white-theme .header .container {
    background: url('./assets/img/header-bg-white.jpg'); 
    background-position: -1px 0;
}

.white-theme #hero .container {
    background: url('./assets/img/header-bg-white.jpg');
    background-position: -1px -90px;
}

.text-block {
    padding-top: 160px;
    padding-left: 60px;
    width: 500px;
}

.text-block p {
    margin: 0;
    padding-top: 10px;
    padding-right: 30px;
}

button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
    width: 220px; 
    height: 55px;
    user-select: none;
    transition: var(--trans);
}

.white-theme #hero button {
    background-color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-block .btn-border {
    margin: 22px 0;
}

.btn-border {
    display: inline-block;
}

.btn-border .button-gold,
.btn-border .button-black {
	margin: 3px; 
}

.button-gold {
    background-color: var(--gold);
    color: var(--black);
    border: 0;  
}

.button-gold:hover {
    color: var(--white);
}

.white-theme #hero button:hover {
    color: var(--gold);   
}

.button-black {
    border: 1px solid var(--gold);
    color: var(--gold);
}

.button-black:hover {
    *color: var(--white);
}

.nav {
    margin-left: auto;
    height: 90px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-link {
    padding: 0 16px;
    line-height: 50px;
}

li:last-child .nav-link {
    padding-right: 38px;
}

.glitch {
    display: block; 
    line-height: 0;
    overflow: hidden;
    border-radius: 8px; 
    background: var(--black);
    box-shadow: 2px 2px 4px #65583d;
}

.glitch:hover {
    opacity: 0.6;
}

.white-theme .glitch {
    background: var(--gold);
    box-shadow: 1px 1px 2px #937c4c;
}

.glitch svg { 
    width: 56px; 
    height: 30px;
    filter: url(#filter-black);
}

.glitch.ru svg { 
    width: 66px;  
}

.white-theme .glitch svg {
    filter: url(#filter-white);
}

.white-theme .nav a:hover {
    *color: var(--white);
}

.white-theme .nav a:hover svg {
    fill: var(--black);
}

.icon-storage {
    z-index: -1;
    position: absolute;   
    width: 0;
    height: 0;
}

.theme-switcher {
    line-height: 0;
    width: auto;
    height: auto;
    border: none;
    padding: 0;
    padding-right: 1px;
}

.theme-switcher svg{
    width: 45px;
    height: 45px;
}

.wrapper {
    width: 50%;
    background-image: linear-gradient(to top, var(--body-color) 39px, var(--gold) 39px, var(--gold) 41px, var(--body-color) 41px);
    margin: 0 auto;
    text-align: center;
}

.white-theme .wrapper {
    background-image: linear-gradient(to top, var(--body-color) 39px, var(--text-color) 39px, var(--text-color) 41px, var(--body-color) 41px);
}

.section-title {
    display: inline-block;
    padding: 0 20px;
    padding-top: 100px;
    background-color: var(--body-color);
    color: var(--gold);    
}

.white-theme .section-title {
    color: var(--text-color);
}

.skills-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 60px;
}

.skill-item {
    background-position: center top;
    background-repeat: no-repeat;
    flex-basis: 280px;
    text-align: center;
    padding: 100px 20px 8px 20px;
}

.skill-item:nth-child(1) {
    background-image: url('assets/svg/camera.svg');
    background-size: 62px 50px;
}

.skill-item:nth-child(2) {
    background-image: url('assets/svg/video.svg');
    background-size: 60px 50px;
}

.skill-item:nth-child(3) {
    background-image: url('assets/svg/image.svg');
    background-size: 66px 50px;
}

.skill-item:nth-child(4) {
    background-image: url('assets/svg/mic.svg');
    background-size: 32px 50px;
}

.skill-item p {
    font-size: 18px;
    padding-top: 20px;
    margin: 0;
}

.button-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: auto;
    padding: 60px;
}

.white-theme .button-block .btn {
    background-color: var(--gold); 
    color: var(--text-color);
}

.white-theme .button-block .btn:hover {
    color: var(--white);
}

.button-block .active {
    background-color: var(--gold);
    color: var(--black);
    cursor: default;
}

.white-theme .button-block .active {
    background-color: var(--text-color); 
    color: var(--gold);
    border: 2px solid var(--gold);
}

.white-theme .button-block .active:hover { 
    color: var(--gold);
}

.image-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    line-height: 0;
}

.video-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 60px;
    *max-height: 705px;
    *height: calc(46% + 60px);
    width: 100%;
}

.vp__img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url("assets/video/video-player.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    transition: var(--trans);
    opacity: 1;   
    cursor: pointer;  
    z-index: 1;
}

.vp__viewer {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.vp__btn {
    position: absolute;
    border: 0;
    padding: 0;
    transform: translateY(-50%);
    top: 50%;
    height: 130px;
    z-index: 1;
    *transition: var(--trans);
    *opacity: 1;
}

.hide {
    opacity: 0;
}

.vp__img.hide {
    pointer-events: none;
}

.vp__main-icon-play {
    width: 130px;
    height: 130px;
}

.vp__btn.activ {
    transition: none;
    margin-top: -30px;
}

.vp__btn.activ .vp__main-icon-play {
    fill: var(--white);   
} 

.white-theme .vp__main-icon-play {
    fill: var(--white);
}

.vp__controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    box-sizing: border-box;
}

.full-screen, 
.full-screen .vp__viewer, 
.full-screen .vp__main-icon-play {
    cursor: none;
}

.full-screen.show-controls {
    cursor: auto;
}

.full-screen.show-controls .vp__viewer,
.full-screen.show-controls .vp__main-icon-play {
	cursor: pointer;
}

.full-screen.pause {
    cursor: auto;
}
 
.full-screen.pause .vp__viewer,
.full-screen.pause .vp__main-icon-play{
	cursor: pointer;
}

.full-screen .vp__controls{
	opacity: 0;
	pointer-events: none;	
}

.full-screen.show-controls .vp__controls {
	opacity: 1;
	pointer-events: auto;
}

.full-screen.pause .vp__controls{
	opacity: 1;
	pointer-events: auto;
}

.vp__icon-play, .vp__icon-volume, .vp__icon-fullscreen {
    width: 40px;
    height: 36px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    
}

.white-theme .vp__icon-play, .white-theme .vp__icon-volume, .white-theme .vp__icon-fullscreen {
    *filter: invert(83%) sepia(5%) saturate(2241%) hue-rotate(9deg) brightness(141%) contrast(111%);
    *filter:  brightness(0%);
}

.white-theme .time {
    *color: var(--gold);
    *color: var(--black);
}

.vp__icon-play {
    background-image: url('assets/svg/pause.svg');
    background-position-x: -5px;   
}

.vp__icon-play.play {
    background-image: url('assets/svg/play.svg');
    background-position-x: 2px;
}

.vp__icon-volume {
    background-image: url('assets/svg/volume.svg');
}

.mute {
    background-image: url('assets/svg/mute.svg');
}

.vp__icon-fullscreen {
    background-image: url('assets/svg/fullscreen.svg');
    background-position: 3px -4px;
}

.full-screen .vp__icon-fullscreen{
    background-image: url('assets/svg/fullscreen-exit.svg');
}

.vp__progress-bar, .vp__volume-bar {
    background-image: linear-gradient( to right, #bdae82 0%, #bdae82 0%, #c8c8c8 0%, #c8c8c8 100% );
    height: 10px;
    *width: calc(80% - 160px);
    *width: calc(80% - 200px);
    width: calc(80% - 230px);
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
}

.vp__volume-bar {
    *width: calc(20% - 40px);
    width: calc(20% - 70px);
    background-image: linear-gradient( to right, #a7945d 0%, #917d44 80%, #c8c8c8 80%, #c8c8c8 100% );
}

.vp__progress-bar::-webkit-slider-thumb,
.vp__volume-bar::-webkit-slider-thumb
/* .vp__progress-bar::-moz-range-thumb,
.vp__volume-bar::-moz-range-thumb  */{
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    height: 28px; 
    border-radius: 50%; 
    *background: #c3c0a1;
    background: #c8c8c8;
    *background-image: linear-gradient(to right, #917d44 0%, #917d44 50%, #c8c8c8 50%, #c8c8c8 100% );
    background-image: linear-gradient(to right, #917d44 0%, #d1cab5 80%, #ffffff 100%);
    *cursor: pointer;
    *padding: 0;
    *margin: 0;
}

.vp__progress-bar::-webkit-slider-thumb:active,
.vp__volume-bar::-webkit-slider-thumb:active {
    transform: scale(1.1);
}

.white-theme .video-player__btn:hover .video-player__icon {
    fill: var(--gold);
}

.time {
    position: relative;
    width: 120px;
    line-height: 0; 
    font-size: 14px;
    *color: #7f7f7f;  
    color: #919191;  
    user-select: none;
}

.time-elapsed {
    position: absolute;
    left: 6px;
}

.duration {
    position: absolute;
    right: 22px;
}

.duration:before {
    content: "|";
    position: absolute;
    left: -10px;
}

.price-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding-top: 60px;
    gap: 25px;
}

.price-block__item {
    flex-basis: 450px;
    box-sizing: border-box;
    border: 3px solid var(--gold);
    padding: 43px;
    padding-bottom: 40px;
}

.price-block h3 {
    font-size: 28px;
}

.price-block span {
    display: block;
    font-size: 18px;
}

.price-block .price {
    color: var(--gold);
    font-family: Merriweather;
    font-size: 24px;
    padding: 20px;
}

.white-theme .price-block .price {
    color: var(--black);
}

.price-block .btn-border {
    margin-top: 34px; 
}

#contacts .container {
    background-image: url('./assets/img/contacts.jpg');
    background-position: center 0;
    background-repeat: no-repeat;
    margin: 0 -20px;
    margin-top: 100px;
    height: 700px;
}

.white-theme #contacts .container {
    background-image: url('./assets/img/contacts-white.jpg');
}

.contact-block {
    width: 450px;
    padding-top: 60px;
    padding-left: 60px;
    margin-left: auto;
}

.contact-block .section-title {
    background-color: inherit;
    padding: 0;
    padding-bottom: 20px;
}

input, textarea {
    display: block;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 3px 18px;
    border: 2px solid var(--gold);
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    color: var(--gold);
    background-color: rgba(0,0,0,0.5);
}

.white-theme input, .white-theme textarea {
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--text-color);
}

input {
    height: 50px;
}

textarea {
    height: 100px;
    line-height: inherit;
    resize: none;
}

input:focus-visible, textarea:focus-visible {
    outline-width: 0;
}

::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
}

.white-theme ::placeholder {
    color: var(--text-color);
}

.contact-block .btn-border {
    margin: 27px 0;
}

.white-theme .contact-block button {
    background-color: var(--body-color);
}

.white-theme .contact-block button:hover {
    color: var(--gold);
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.footer svg {
    width: 32px;
    height: 32px;
}

.github-block, .social-link {
    display: flex;
    gap: 20px;
}

.github-block {
    padding-right: 15px;
}

.social-link li {
    line-height: 0;
}

.lang-switcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 36px;
}

.lang-switcher button {
    width: auto;
    height: auto;
    border: none;
    padding: 0;
    line-height: 50px;
    font-weight: bold;
}

.lang-switcher button {
    padding: 0 12px;
}

.lang-switcher button:first-child {
    padding-left: 2px;
}

.lang-switcher button:last-child {
    padding-right: 0;
}

.lang-switcher .active {
    color: var(--gold);
    cursor: default;
}

.lang-switcher button:not(.active):hover {
    color: var(--gold);
}

.white-theme .header .active {
    color: var(--white);
}

.menu-button {
    position: absolute;
    right: 60px;
    top: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 4px;
    cursor: pointer;
    user-select: none;
}

.menu-button .line {
    display: block;
    width: 50px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--text-color);
    transition: var(--trans);
}

.menu-button.active {
    position: fixed;   
}

.menu-button:hover .line {
    background-color: var(--gold);
}

.active .line:nth-child(1){
    transform: translateX(-4px) translateY(17px) rotate(45deg);
}

.active .line:nth-child(2){
    opacity: 0;
}

.active .line:nth-child(3){
    transform: translateX(-5px) translateY(-9px) rotate(-45deg);
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(40,40,40, .75);
    transition: var(--trans);
    display: none;
}

.overlay[aria-hidden="true"] {
    width: 100vw;
    opacity: 0;
    visibility: hidden;  
}

.no-scroll {
    overflow: hidden;
}

.no-scroll .nav-list {
    overflow-y: scroll;
}

@media (max-width: 1440px) {   
    .skills-items {
        justify-content: center;
        gap: 45px;
        padding-top: 45px;     
        padding-bottom: 50px;
    }

    .skill-item {
        padding: 80px 10px 30px 10px;
    }

    .skill-item p {
        padding-top: 20px;
    }

    .video-player {      
        margin-top: 50px;
    }

    .price-block {
        justify-content: center;
        padding-top: 50px;
        gap: 46px;
    }

    .price-block__item {
        flex-basis: 420px;
    }
}

@media (max-width: 1000px) {   
    .nav-link {
        padding: 0 10px;
    }
    .time {
        padding: 5px;
        font-size: 12px;
        width: 80px;
    }

    .time-elapsed {
        left: 0px;
    }

    .duration {
        right: 0px;
    }
}

@media (max-width: 769px) {
    .header .container {
        padding: 0 60px;
    }

    .nav-list {
        box-sizing: border-box;
        flex-direction: column;
        align-items: start;
        position: absolute;
        right: 0;
        margin: 0;
        padding-top: 123px;
        padding-left: 96px;    
        max-width: 620px;
        width: 81%;
        height: 100%; 
        opacity: 0;
        z-index: -1;     
        font-family: Merriweather;     
        font-size: 40px;
        line-height: 72px;
        background-color: var(--black);     
        transition: var(--trans);
    }

    .white-theme .nav-list {
        background-color: var(--body-color);
    }

    .nav-item {
        padding: 12px;
    }

    .nav-list.open {      
        opacity: 1;
        z-index: 2;
    }

    .nav-link {
        color: var(--gold);
    }

    .nav-link:hover {
        letter-spacing: 5px; 
    }

    .white-theme .nav-link {
        color: var(--text-color);
    }

    .menu-button {
        display: flex;
        z-index: 2;
    }

    .white-theme .menu-button svg{
        fill: var(--text-color);
    }

    .header .container {
        background-image: url('./assets/img/header-bg2.jpg');
        *background-position: -5px -30px;
        *background-size: auto 620px;
    }

    .white-theme .header .container, .white-theme #hero .container {
        background-image: url('./assets/img/header-bg-white2.jpg');
    }
    
    .theme-switcher {
        padding-right: 85px;
    }

    .lang-switcher {
        padding: 0 20px;
    }

    .lang-switcher button:not(.active) {
        padding-left: 12px;
    }

    .lang-switcher button:first-child {
        padding-left: 0;
    }

    .lang-switcher button:last-child {
        padding-right: 10px;
    }

    #hero .container {
        background-image: url('./assets/img/header-bg2.jpg');
        *background-position: -5px -120px;
        *background-size: auto 620px;
        height: 500px;
    }

    .text-block {
        padding-left: 40px;
        padding-top: 78px;
        width: 430px;
    }

    .text-block h1 {
        font-size: 32px;
    }

    .text-block p {
        padding-top: 20px;
        line-height: 24px;
    }

    .text-block .btn-border {
        margin: 57px 0;
    }

    .section-title {
        font-size: 32px;
        line-height: 80px;
        padding-top: 80px;
    }

    .skill-item p {
        line-height: 22px;
    }

    .button-block {
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
    }

    #video {
        margin: 0 -20px;
    }

    .video-player {
        *background-image: url("assets/video/video-player2.jpg");
        *background-position: 0px 6px;
        *background-size: auto 409px;    
        *height: 418px;
    }

    .video-player button {
        height: 65px;
    }
    
    .video-player svg {
        width: 65px;
        height: 65px;
    }

    .vp__progress-bar {
        width: calc(80% - 160px);
    }

    .vp__volume-bar {
        width: calc(20% - 20px);       
    }

    .time {
        display: none
    }

    #contacts .container {
        background-image: url(./assets/img/contacts2.jpg);
        *background-position: -5px -20px;
        *background-size: auto 600px;
        margin-top: 80px;
        height: 600px;
    }

    .white-theme #contacts .container {
        background-image: url(./assets/img/contacts-white2.jpg);
    }

    .contact-block {
        padding-top: 50px;
        padding-left: 0;
        margin: 0 auto;
        text-align: center;
    }

    .contact-block .section-title {
        padding-bottom: 15px;
    }

    input, textarea {
        margin-top: 20px;
    }

    .footer .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 190px;
    }

    .github-block {
        padding-right: 0;
        gap: 22px;
    }

    .overlay {
        display: block;
    }
}

@media (max-width: 500px) {

    .header .container {
        padding: 0 20px;
    }

    .nav-list {
        width: 100%; 
        padding-left: 60px;
        overflow: hidden; 
    }
    
    .lang-switcher {        
        padding: 10px;
    }

    .lang-switcher button:last-child {
        padding-right: 0;
    }

    .theme-switcher {
        padding-right: 70px;
    }
    
    .menu-button {
        right: 20px;
    }

    .text-block {
        width: auto;
        padding-left: 20px;
        text-align: justify;  
    }

    .wrapper {
        width: 80%;
    }

    .skill-item {
        flex-basis: auto;
    }

    .button-block {
        padding-left: 0;
        padding-right: 0;
    }

    .image-block {
        margin: 0 -20px;
        gap : 0;
    }
    
    .price-block__item {
        flex-basis: auto;
        padding: 25px;
        padding-top: 5px;
        padding-bottom: 15px;
    }

    .price-block .price {
        padding-top: 5px;
        padding-bottom: 8px;
    }

    .price-block .btn-border {
        margin-top: 25px;
    }

    .contact-block {
        width: auto;
    }
    
}