:root {
    --black: #000;
    --white: #FFF;
    --gold: #bdae82;
    --trans: 0.3s ease-out;
}

html {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    font-size: 20px;
    line-height: 2;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-color: var(--black);
    color: var(--white);
}

h1, h2, h3 {
    font-family: 'Merriweather', serif;
    margin: 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h4 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: var(--white);
    text-decoration: none;
    transition: var(--trans);
}

svg {
    fill: var(--white);
    transition: var(--trans);
}

.logo {
    line-height: 0;
}

.logo svg {
    width: 50px;
    height: 50px;
}

a:hover {
    color: var(--gold);
}

a:hover svg, button:hover svg {
    fill: var(--gold);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    overflow-x: hidden;
}

.header .container {
    display: flex;
    align-items: center;
    background: url('./assets/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    user-select: none;   
}

#hero .container {
    background-image: url('./assets/img/header-bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
    margin: 0 -20px;
    height: 820px;
}

.text-block {
    padding-top: 160px;
    padding-left: 60px;
    width: 500px;
}

.text-block p {
    margin: 0;
    padding-top: 10px;
    padding-right: 30px;
}

button {
    font-family: inherit;
    font-size: inherit;
    background-color: inherit;
    cursor: pointer;
    width: 220px;
    height: 55px;
    user-select: none;
    transition: var(--trans);
}

.button-gold {
    background-color: var(--gold);
    border: 0;
}

.button-gold:hover {
    color: var(--white);
}

.button-black {
    border: 1px solid var(--gold);
    color: var(--gold);
}

.button-black:hover {
    color: var(--white);
}

.text-block .button-gold {
    margin-top: 25px;
}

.nav {
    margin-left: auto;
    height: 90px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-link {
    padding: 0 15px;
    line-height: 50px;
}

li:last-child .nav-link {
    padding-right: 31px;
}

.lang-switcher .active {
    color: var(--gold);
}

.wrapper {
    width: 50%;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
    margin: 0 auto;
    text-align: center;
}

.section-title {
    display: inline-block;
    padding: 0 20px;
    padding-top: 100px;
    background-color: var(--black);
    color: var(--gold);
}

.skills-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 60px;
}

.skill-item {
    background-position: center top;
    background-repeat: no-repeat;
    flex-basis: 280px;
    text-align: center;
    padding: 100px 20px 8px 20px;
}

.skill-item:nth-child(1) {
    background-image: url('assets/svg/camera.svg');
    background-size: 62px 50px;
}

.skill-item:nth-child(2) {
    background-image: url('assets/svg/video.svg');
    background-size: 60px 50px;
}

.skill-item:nth-child(3) {
    background-image: url('assets/svg/image.svg');
    background-size: 66px 50px;
}

.skill-item:nth-child(4) {
    background-image: url('assets/svg/mic.svg');
    background-size: 32px 50px;
}

.skill-item p {
    font-size: 18px;
    padding-top: 20px;
    margin: 0;
}

.button-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: auto;
    padding-top: 60px;
}

.button-block .active {
    background-color: var(--gold);
    color: var(--black);
    cursor: default;
}

.image-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 60px;
    gap: 25px;
    line-height: 0;
}

.video-player {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 60px;
    height: 705px;
    background-image: url("assets/video/video-player.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
}

.video-player button {
    position: absolute;
    border: 0;
    padding: 0;
    transform: translateY(-50%);
    top: 50%;
    height: 130px;
}

.video-player svg {
    width: 130px;
    height: 130px;
}

.price-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding-top: 60px;
    gap: 25px;
}

.price-block div {
    flex-basis: 450px;
    box-sizing: border-box;
    border: 3px solid var(--gold);
    padding: 43px;
    padding-bottom: 40px;
}

.price-block h3 {
    font-size: 28px;
}

.price-block span {
    display: block;
    font-size: 18px;
}

.price-block .price {
    color: var(--gold);
    font-family: Merriweather;
    font-size: 24px;
    padding: 20px;
}

.price-block button {
    margin-top: 40px;
}

#contacts .container {
    background-image: url('./assets/img/contacts.jpg');
    background-position: center 0;
    background-repeat: no-repeat;
    margin: 0 -20px;
    margin-top: 100px;
    height: 700px;
}

.contact-block {
    width: 450px;
    padding-top: 60px;
    margin-left: auto;
}

.contact-block .section-title {
    background-color: inherit;
    padding: 0;
    padding-bottom: 20px;
}

input, textarea {
    display: block;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 3px 18px;
    border: 2px solid var(--gold);
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    color: var(--gold);
    background-color: rgba(0,0,0,0.5);
}

input {
    height: 50px;
}

textarea {
    height: 100px;
    line-height: inherit;
    resize: none;
}

input:focus-visible, textarea:focus-visible {
    outline-width: 0;
}

::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
}

.contact-block button {
    margin-top: 30px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.footer svg {
    width: 32px;
    height: 32px;
}

.github-block, .social-link {
    display: flex;
    gap: 20px;
}

.github-block {
    padding-right: 15px;
}

.social-link li {
    line-height: 0;
}

.lang-switcher {
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lang-switcher a {
    padding-left: 10px;
}

.lang-switcher .active {
    padding-right: 10px;
    padding-left: 2px;
}

.menu-button {
    position: absolute;
    right: 60px;
    top: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 4px;
    cursor: pointer;
    user-select: none;
}

.menu-button .line {
    display: block;
    width: 50px;
    height: 3px;
    margin: 5px auto;
    background-color: #ecf0f1;
    transition: var(--trans);
}

.menu-button.active {
    position: fixed;   
}

.menu-button:hover .line {
    background-color: var(--gold);
}

.active .line:nth-child(1){
    transform: translateX(-4px) translateY(17px) rotate(45deg);
}

.active .line:nth-child(2){
    opacity: 0;
}

.active .line:nth-child(3){
    transform: translateX(-5px) translateY(-9px) rotate(-45deg);
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(40,40,40, .75);
    transition: var(--trans);
    display: none;
}

.overlay[aria-hidden="true"] {
    width: 100vw;
    opacity: 0;
    visibility: hidden;  
}

@media (max-width: 1440px) {   
    .lang-switcher .active {
        padding: 0 10px;
    }

    .skills-items {
        justify-content: center;
        gap: 45px;
        padding-top: 45px;     
        padding-bottom: 50px;
    }

    .skill-item {
        padding: 80px 10px 30px 10px;
    }

    .skill-item p {
        padding-top: 20px;
    }
    .video-player {
        margin: 0 -20px;       
        margin-top: 50px;
    }

    .price-block {
        justify-content: center;
        padding-top: 50px;
        gap: 46px;
    }

    .price-block div {
        flex-basis: 420px;
    }
}

@media (max-width: 769px) {
    .header .container {
        padding: 0 60px;
    }

    .nav-list {
        box-sizing: border-box;
        flex-direction: column;
        align-items: start;
        *position: absolute;
        position: fixed;
        right: 0;
        margin: 0;
        padding-top: 127px;
        padding-left: 102px;    
        max-width: 620px;
        width: 81%;
        opacity: 0;
        *height: 133vw; 
        *height: 1024px; 
        height: 100%; 
        font-size: 35px;
        z-index: -1;
        background-color: var(--black);
        transition: var(--trans);
    }

    .nav-item{
        padding: 9px;
    }

    .nav-list.open {      
        opacity: 1;
        z-index: 2;
    }

    .menu-button {
        display: flex;
        z-index: 2;
    }

    .header .container {
        background-image: url('./assets/img/header-bg2.jpg');
    }

     .lang-switcher {
        padding: 0 54px;
    }

    .lang-switcher a {
        padding: 0 21px;
    }

    #hero .container {
        background-image: url('./assets/img/header-bg2.jpg');
        height: 500px;
    }

    .text-block {
        padding-left: 40px;
        padding-top: 78px;
        width: 430px;
    }

    .text-block h1 {
        font-size: 32px;
    }

    .text-block p {
        padding-top: 20px;
        line-height: 24px;
    }

    .text-block .button-gold {
        margin-top: 60px;
    }

    .wrapper {
        width: 60%;
    }

    .section-title {
        font-size: 32px;
        line-height: 80px;
        padding-top: 80px;
    }

    .skill-item p {
        line-height: 22px;
    }

    .button-block {
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .video-player {
        height: 418px;
        background-image: url("assets/video/video-player2.jpg");
    }

    .video-player button {
        height: 65px;
    }
    
    .video-player svg {
        width: 65px;
        height: 65px;
    }

    #contacts .container {
        background-image: url(./assets/img/contacts2.jpg);
        margin-top: 80px;
        height: 600px;
    }

    .contact-block {
        padding-top: 50px;
        margin: 0 auto;
        text-align: center;
    }

    .contact-block .section-title {
        padding-bottom: 15px;
    }

    input, textarea {
        margin-top: 20px;
    }

    .footer .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 190px;
    }

    .github-block {
        padding-right: 0;
        gap: 22px;
    }

    .overlay {
        display: block;
    }
}

@media (max-width: 500px) {
    .header .container {
        padding: 0 20px;
    }

    .nav-list {
        width: 100%; 
        padding-left: 60px;
        overflow: hidden; 
        *height: 680px;
    }
    
    .lang-switcher {
        *padding-right: 100px;
        padding-left: 0;
    }
    
    .menu-button {
        right: 20px;
    }
    .text-block {
        width: auto;
        padding-left: 20px;
        text-align: justify;  
    }

    .wrapper {
        width: 80%;
    }

    .skill-item {
        flex-basis: auto;
    }

    .button-block {
        padding-left: 0;
        padding-right: 0;
    }
    
    .price-block div{
        flex-basis: auto;
    }

    .contact-block {
        width: auto;
    }
}